/* style.css */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
}
.text-box {
  background-color: rgba(111, 128, 119, 0.231); 
  padding: 20px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-right: 500px; 

}

h1 {
  color: #02140c; 
  font-size: 35px; 
  text-align: center; 
}
#button{
  margin-top: 20px;
  margin-right: 500px;

}

.up1 {
  background-color: #045522; 
  color: #ffffff; 
  border: 2px solid #045522; 
  padding: 10px 20px;
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition effect */
}

.up1:hover {
  background-color: #7cc0a0; /* Change background color to blue on hover */
  color: #000000; /* Change text color to white on hover */
  border-color: #7cc0a0; /* Change border color on hover */
}



#hero {
  background-image:url(https://etimg.etb2bimg.com/photo/95217315.cms;center,top);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 150px 150px;
  color: rgb(4, 68, 33);
  text-shadow: #000000;

  }  

#features {
  background-color: #fff;
  padding: 60px;
  text-align: center;
  padding: 50px 0;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /
}

.card {
  width: calc(28.333% - 20px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  background: #578359;
  border-radius: 30px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #0e0a0a;
}

.card h3 {
  margin: 10px;
}
@media (max-width: 200px) {
  .card {
      width: calc(50% - 20px); 
  }
}

@media (max-width: 480px) {
  .card {
      width: 100%; 
  }
}

#testimonials {
  background-color: #7e967f;
  padding: 20px;
  font-size: 20px;
}

.testimonial {
margin-bottom: 20px;
font-size: 20px;
text-align: center;
font-weight: bolder;
font-style: italic;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  font-weight: bold;
}

.hero-button {
  background-color: #7e967f;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}
p{
  font-size: 18px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}



